<?xml version='1.0' encoding='utf-8'?>
<widget id="com.greengroup.sustainabilityapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Sustainability App</name>
    <description>
        An app that is part of a movement to promote sustainabilty at KAUST.
        This app is part of a challenge and is designed for KAUST Resedents only.
        It let's you collect sustainability points by scanning a specific barcode.
    </description>
    <author email="greengroup@kaust.edu.sa" href="https://www.facebook.com/KAUSTGreenGroup/?fref=ts">
        KAUST Green Group
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <access origin="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-navigation href="*" />
    </platform>
    <platform name="ios">
        <allow-navigation href="gap:*" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.2" />
    <plugin name="cordova-plugin-geolocation" spec="~2.4.1" />
</widget>
