<!-- User Info -->
<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

<div data-role="listview" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-d" data-iconpos="right">
  <ul data-role="listview" data-inset="false">
    <li><a href="home.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-home zmd-fw"></i> Home</a></li>
    <li><a href="map.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-directions-bike zmd-fw"></i> Map</a></li>
    <li><a href="javascript:scan();" data-ajax='false' data-icon="false"><i class="zmdi zmdi-camera zmd-fw"></i> Scan</a></li>

    <hr class="inset">
    <li><a href="index.html" data-ajax='false' data-icon="false"><i class="zmdi zmdi-sign-in zmd-fw"></i> Sign In</a></li>
    <li><a href="greengroup.html" data-ajax="false" data-icon="true"><i class="zmdi zmdi-circle-o zmd-fw"></i> Green Group</a></li>
    <li><a href="about.html" data-ajax="false" data-icon="true"><i class="zmdi zmdi-info-outline zmd-fw"></i> About</a></li>
    <li><a href="help.html" data-ajax="false" data-icon="true"><i class="zmdi zmdi-help-outline zmd-fw"></i> Help</a></li>
  </ul>
  <script src="js/scan.js"></script>
</div>
